<div id="header">
    <div class="navbar-header">
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
            <a class="navbar-brand" href="#"><span>Thi trắc nghiệm online</span></a>
            <ul class="navbar-nav mr-auto">
            </ul>
            <span class="navbar-brand dropdown" href="#">
                <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <span>Admin</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="#"><i class="icon-switch2"></i> Đăng xuất</a></li>
                </ul>
            </span>
        </nav>
    </div>
</div>
<div class="page-container">
    <div class="page-content p-0">
        <div class="row">
            <div class="d-none d-lg-block sidebar  sidebar-fixed-left pr-0">
                <div class="sidebar-content">
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <div class="media-body">
                                    <span class="media-heading">ADMIN</span>
                                    <div class="text-size-mini text-muted">
                                        <span class="fs-11">Việt Nam</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-category">
                        <nav class="category-content p-0">
                            <ul class="navigation">
                                <li data-toggle="collapse" data-target="#question" class="nav-item">Câu hỏi</li>
                                <li class="nav-item">Lớp học</li>
                                <li class="nav-item">Học sinh</li>
                                <li class="nav-item">Đề thi</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col content-wrapper">
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h3 class="media-heading">Danh sách học sinh</h3>
                        </div>
                    </div>
                    <div class="breadcrumb-line">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Danh sách</li>
                        </ul>
                    </div>
                </div>
                <div class="content">
                    <div class="panel panel-border-top">
                        <div class="col-12">
                            <button data-target="#add-elment" data-toggle="modal" class="btn btn-dark btn-labeled"><b><i
                                class="fas fa-plus-square"></i></b>Thêm lớp học</button>
                        </div>
                    </div>
                    <div class="table-reponsive">l
                        <table class="table table-striped table-hover">
                            <thead class="custom-thead">
                                <tr>
                                    <th>Mã lớp học</th>
                                    <th>Tên lớp học</th>
                                    <th>Ngày bắt đầu</th>
                                    <th>Số ngày kết thúc</th>
                                    <th>Sỉ số hiện tại</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let cl of classrooms">
                                <tr>
                                    <td>
                                        <div class="dropdown">
                                            <span data-toggle="dropdown" class="dropdown-toggle">{{cl._id}}</span>
                                            <ul class="dropdown-menu">
                                                <li (click)="deleteClassroom(cl._id)" class="dropdown-item">Xóa</li>
                                                <li (click)="getDetail(cl._id)" data-target="#fac" data-toggle="modal"
                                                    class="dropdown-item">Xem
                                                    và sửa</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>{{cl.name}}</td>
                                    <td>{{cl.startdate.substring(0,10)}}</td>
                                    <td>{{cl.enddate.substring(0,10)}}</td>
                                    <td>31</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">&raquo;</a>
                </div>
                <div id="fac" class="modal full-question-content">
                    <div class="modal-dialog modal-lg">
                        <div *ngIf="detailClass" class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{detailClass.name }}</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="class-profile">
                                    <div class="d-flex expiry-date-block">
                                        <div class="text-primary">Ngày kết thúc</div>
                                        <input #endateel type="date" value="{{detailClass.enddate.substring(0,10) }}"
                                            class="form-control">
                                        <div><button (click)="updateClassroom(detailClass._id,endateel)"
                                                class="btn btn-success">Lưu</button></div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col">
                                            <h5 class="text-primary">Học sinh đã tham gia</h5>
                                            <div class="list-members delete-student">
                                                <div class="d-flex list-member-item">
                                                    <p class="class-id">occo01</p>
                                                    <p class="class-name">Sansa Stark</p>
                                                    <div><button data-target="#accept-delete" data-toggle="modal"
                                                            class="btn delete-item btn-danger">Xóa</button></div>
                                                </div>
                                                <div class="d-flex list-member-item">
                                                    <p class="class-id">occo01</p>
                                                    <p class="class-name">Sansa Stark</p>
                                                    <div><button data-target="#accept-delete" data-toggle="modal"
                                                            class="btn delete-item btn-danger">Xóa</button></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h5 class="text-primary">Thêm học sinh</h5>
                                            <div class="list-members add-student">
                                                <div class="d-flex list-member-item">
                                                    <p class="class-id">Hskkk12</p>
                                                    <p class="class-name">Duy Trần</p>
                                                    <div><button class="btn delete-item btn-success">Thêm</button></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="add-elment">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Thên lóp học</h3>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="panel">
                                    <div class="panel-body">
                                        <div class="tabbable tab-content-bordered">
                                            <div class="tab-content">
                                                <div class="tab-panel has-padding active">
                                                    <div class="form-group">
                                                        <label class="control-label">Tiêu lớp học</label>
                                                        <input #addNameEl class="form-control" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Ngày hết hạn</label>
                                                        <input #addEnddateEl type="date" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button (click)="addClassroom(addNameEl, addEnddateEl)" class="btn btn-primary">Lưu</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>